
.listContainer {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    margin-left: .5rem;
    margin-right: .5rem;
}
.flex {
    display: flex;
}
.sameLine {
    display: inline;
}
.slRight {
    margin-left: auto;
}
.txtL {
    text-align: left;
    margin: .1rem;
}
.titleBtn {
    background: none;
    border: .03rem solid rgb(232, 217, 213);
    border-radius: 5px 5px 5px 5px;
    margin: .1rem;
    transition: filter 0.3s;
}
.titleBtn:hover {
    background-color:  rgb(232, 217, 213);
}
body {
    margin: 0;
    padding: 0;
}
main {
    margin-left: 15rem;
    padding: 1rem;
}
/* router-demo is loc of the new box-shadow */
table {
    border:rgb(225, 230, 233);
}
th, td {
    padding-left: .2rem;
    padding-right: .2rem;
}

.winnersDisp {
    margin-top: .1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    display: inline-block;
    padding: 1rem;
    border: .13rem solid black;
    border-radius: 5px;
    background-color: rgb(147, 147, 147);
    box-shadow: 10px 10px  0 black;
}
.aboutDisp {
    margin-top: .1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border: .13rem solid black;
    border-radius: 5px;
    background-color: rgb(147, 147, 147);
    box-shadow: 10px 10px  0 black;
}
.hide {
    display: none;
}
.show {
    display: block;
}

.detailBox {
    margin: .5rem;
    padding: 1.2rem;
    width: 57vw;
    border: .13rem solid black;
    border-radius: 5px;
    background-color: rgb(103, 129, 170);
    box-shadow: 10px 10px  0 black;
}

.toggleBtnBox {
    text-align: center;
    margin-left: 1.5rem;
}
.toggleBtn {
    font-size: .4rem;
    background-color: rgb(246, 113, 113);
    border-radius: 5px 5px 5px 5px;
    margin: .2rem;
    transition: filter 0.3s;
}

.toggleBtn:hover {
    filter: grayscale(100%) opacity(2);
}

.About{
    text-align: center;
    margin: 1.5rem;
}

ul {
    list-style: none;
}
.nl {
    text-decoration: none;
}
.aboutPic {
    width: 15vw;
}

@media only screen and (min-width: 900px) {
    .aboutPic {
        width: 15vw;
    }
}

@media only screen and (max-width: 900px) {
    .aboutPic {
        width: 25vw;
    }
}